html, body {
  width:100%;
  height:100%;
  font-family:'Microsoft YaHei';
}


.elecDeviceBox
{
  position:absolute;
  left:0px;
  right:0px;
  top:122px;
  
}
.elecWeekBox
{

  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  height:100px;
  overflow-x:auto;
  overflow-y:hidden;

}

.elecBox {
  position: absolute;
  height: 100%;
  width:310px;
  overflow-y:auto;
  padding:10px;
  background-color:#fff;

}


.elecNoText {

  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  font-size:20px;
}

  .elecBox .elecItem {
      width:270px;
      height:155px;
      overflow-y:hidden;
    /*  text-align:center;*/
      border:solid 1px #ccc;
      float:left;
      margin-left:5px;
      margin-top:10px;
      border-radius:5px;
      display:table;
      cursor:pointer;
  }
 

   .elecBox .elecPic {

       width:80px;
       height:80px;
       text-align:center;
       margin-top:35px;
       cursor:pointer;
       float:left;
       margin-left: 10px;
  } 
  .elecBox .elecAlarm {   /*报警电气*/
      background-image:url(../images/ElePowPRO.png);
       background-position:center center;
       background-size:cover;
  }
  .elecBox .elecNormal {  /*正常电气*/
      background-image:url(../images/ElePowPRO_gre.png);
       background-position:center center;
       background-size:cover;
  } 
 .elecBox .elecOff {  /*离线电气*/
       background-image:url(../images/ElePowPRO_hui.png);
         background-position:center center;
       background-size:cover;
  } 
 .elecBox .firepan {      /*告警消防主机*/
       background-image:url(../images/2.png);
         background-position:center center;
       background-size:cover;
  } 
  .elecBox .lvfirepan {      /*正常消防主机*/
       background-image:url(../images/1.png);
         background-position:center center;
       background-size:cover;
  } 
  .elecBox .huifirepan {      /*离线消防主机*/
       background-image:url(../images/0.png);
         background-position:center center;
       background-size:cover;
  } 
  .elecBox .huismdete {      /*烟感*/
       background-image:url(../images/ygoffline.png);
         background-position:center center;
       background-size:cover;
  } 
  .elecBox .lvsmdete {      /*烟感*/
       background-image:url(../images/ygnormal.png);
         background-position:center center;
       background-size:cover;
  } 
  .elecBox .hongsmdete {      /*烟感*/
       background-image:url(../images/ygalarm.png);
         background-position:center center;
       background-size:cover;
  } 
  .elecBox .gateway {     /*网关*/
       background-image:url(../images/wanguan.png);
         background-position:center center;
       background-size:cover;
  } 
  .elecBox .gasNormal {   /*燃气正常*/
  background-image: url(../images/Gasusual.png);
  background-position: center center;
  background-size: cover;
  }

  .elecBox .gasOff {    /*燃气离线*/
      background-image: url(../images/Gasout.png);
      background-position: center center; 
      background-size: cover;
  }

  .elecBox .gasAlarm {    /*燃气报警*/
      background-image: url(../images/Gasala.png);
      background-position: center center;
      background-size: cover;
  }

  .elecBox  .videoPic1 {
      background:url(../images/video1.png);
      background-size:100% 100%;

  } 
  
 .elecBox  .nfc1 {
      background:url(../images/nfc_dev.png);
      background-size:100% 100%;

    } 
  .elecBox  .videoPic2 {
      background-image:url(../images/video2.png);
      background-size:100% 100%;

  }

 .elecBox .elecContent
 {
     overflow-y:hidden;
     padding-right:5px;
     display:table-cell;
     vertical-align:middle;

 }

  .elecBox .elecTitle {
     width:100%;
     text-align:left;
     font-size:14px;
     padding-bottom:2px;
  }
    .elecBox .leftTitle {
     float:left;
   
  }
      .elecBox .rightTitle {
     float:right;
     
  }
    .elecBox .lineTitle {
       overflow:hidden;
  }
    .elecBox .elecAbout1{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
        width:1024px;
        height:700px;
          background-image:url(elec1.jpg);
         background-position:center center;
       background-size:cover;
    }
      .elecBox .elecAbout2{
        margin-top:10px;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
        width:1024px;
        height:700px;
        background-image:url(elec1.jpg);
        background-position:center center;
        background-size:cover;
    }

      .elecWeekScroll
      {
          height:100%;
          overflow:hidden;
            white-space:nowrap;
      }

      .weekReportItem
      {
          border:solid 1px #ccc;
          float:left;
          margin-left:10px;
          border-radius:3px;
          cursor:pointer;
          width:220px;
          height:80px;
          font-size:14px;
          padding-top:10px;
          white-space:nowrap;
      }

       .weekReportItem .lineText
       {
          text-align:center;
          height:30px;
          line-height:30px;
       }


       .deviceAlarmBox
       {
           width:400px;
           height:400px;
           overflow-y:auto;
           border: solid 1px #5dacd3;
       }

         .deviceAlarmBox  .deviceAlarmItem
         {
             border-bottom: solid 1px #5dacd3;
         }
          .deviceAlarmBox  .deviceResultTitle
         {
             line-height:30px;
             font-size:16px;
         }

         .deviceAlarmBox  .deviceResultText
         {
            line-height:25px;
             font-size:14px;
         }